<header class="site-header" role="banner" style="background-color: black; padding: 10px 0;">
    <div class="wrapper" style="display: flex; justify-content: space-between; align-items: center;">
        <a class="site-title" rel="author" href="{{ '/' | relative_url }}" style="color: white; text-decoration: none;">
            {{ site.title | escape }}
        </a>

        <nav class="site-nav">
            {% assign pages_list = site.pages | sort: 'order' %}
            {% for page in pages_list %}
            {% if page.title and page.nav != false and page.url != '/' %}
            <a href="{{ page.url | relative_url }}" style="color: white; margin-left: 20px; text-decoration: none;">
                {{ page.title }}
            </a>
            {% endif %}
            {% endfor %}
        </nav>
    </div>
</header>